$box-radius: 0px 0px 5px 5px;

@mixin heightWidth($height, $width) {
    height: $height;
    width: $width;
}

* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande",'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    position: relative;
    @include heightWidth(730px, 1920px);
    background: #FFFFFF;
}


    /* HEADER */

    
header {
    position: absolute;
    @include heightWidth(100px, 941px);
    right: 489px;
    top: 0px;
}

.header-box-left {
    position: absolute;
    @include heightWidth(100px, 300px);
    left: 0px;
    top: 0px;
    background: #DDDDDD;
    border-radius: $box-radius;
}

.header-box-right {
    position: absolute;
    @include heightWidth(100px, 620px);
    left: 320px;
    top: 0px;
    background: #DDDDDD;
    border-radius: $box-radius;

    & p {
        position: absolute;
        @include heightWidth(18px, 245px);
        top: 39px;
        left: 110px;
        font-family: 'HelveticaNeue';
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;
    }
}

/* IMAGES */

.slider {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
    overflow: visible;
}

img {
    border-radius: 5px;
    height: 200px;
    width: auto;
    margin-left: 10px;
}

/* Top Row */

.top-row {
    position: absolute;
    @include heightWidth(200px, 1230px);
    left: -120px;
    top: 160px;
}

/* Bottom row */

.bottom-row {
    position: absolute;
    @include heightWidth(200px, 1080px);
    left: -130px;
    bottom: 160px;
}

/* ARROWS */


.arrows {
    position: absolute;
    @include heightWidth(130px, 60px);
    right: 810px;
    bottom: 230px;
}

button {
    @include heightWidth(60px, 60px);
    box-sizing: border-box;

    &.left {
        left: 60px;
        top: 0px;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        background: url(./images/arrow-gray-left.png) no-repeat center;
    }

    &.right {
        position: absolute;
        left: 0px;
        top: 70px;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        background: url(./images/arrow-gray-right.png) no-repeat center;
    }
}

button:hover {
    border: 1px solid #134880;
    cursor: pointer;

    &.left:hover {
        background: url(./images/arrow-blue-left.png) no-repeat center;
    }

    &.right:hover {
        background: url(./images/arrow-blue-right.png) no-repeat center;
    }
}


/* TEXT */


.text {
    position: absolute;
    @include heightWidth(295px, 300px);
    right: 489px;
    top: 160px;


    & h1 {
        position: absolute;
        @include heightWidth(120px, 301px);
        left: 0px;
        top: 0px;
        font-family: 'Source Sans Pro';
        font-size: 32px;
        line-height: 38px;
        display: flex;
        align-items: flex-end;
        letter-spacing: -0.2px;
        color: #134880;
    }

    & p {
        position: absolute;
        @include heightWidth(155px, 300px);
        left: 0px;
        top: 140px;
        font-family: 'Source Sans Pro';
        font-size: 18px;
        line-height: 26px;
        /* or 144% */
        display: flex;
        align-items: center;
        letter-spacing: -0.2px;
        color: #484A4C;
    }
}


/* FOOTER */


footer {
    position: absolute;
    @include heightWidth(100px, 940px);
    right: 490px;
    bottom: 0px;
    background: #DDDDDD;
    border-radius: $box-radius;

    & p {
        position: absolute;
        @include heightWidth(18px, 245px);
        left: 181px;
        top: 42px;
        font-family: 'HelveticaNeue';
        font-size: 15px;
        line-height: 18px;
        /* identical to box height */
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;
    }
}